// ND

.control--checkbox {
    @extend .control--choice;
    .label {
        &::before,
        &::after {
            width: $size__checkbox;
            height: $size__checkbox;
        }
    }

    .checkbox {
        @extend .choice;
    }
}

