// Available color variables
// Aiming for “AA” of WCAG. 
// Test - http://colorsafe.co/

//$color__white:         white;
//$color__fiord:         #4F5A65;
//$color__black-russian: #202124;
//$color__shuttle-grey:  #5f6368;
//$color__grey:          #767676;
//$color__royal-blue:    #1C5AEA;
//$color__matisse:       #376089;



// ND Vintage ralph lauren
$color__flat-cherry:    #703030;
$color__tyre:           #2F343B;
$color__greyskull:      #7E827A;
$color__ivory:          #E3CDA4;
$color__contessa:       #C77966;
$color__royal-blue:    #1C5AEA;
$color__black-russian: #202124;
$color__white:         white;

