// Colorings for draft purposes
#app {
    background: $color__ivory;
}

.page-header {
    background: $color__contessa;

}

.aside {

    .container {
        background: $color__white;
    }
}

.main {

    .container {}
}

.page-footer {
    background: $color__contessa;
}
